.dashboard_button {
  -fx-background-color: #393351;
  -fx-background-radius: 10;
  -fx-opacity: 0.66;
  -fx-text-fill: #fafafa;
}
.dashboard_button:hover {
  -fx-background-color: #524a7b;
  -fx-background-radius: 10;
}
.dashboard_button:pressed {
  -fx-background-color: #2f2b43;
  -fx-background-radius: 10;
}
