.button {
  -fx-background-color: #71A2B6;
  -fx-background-radius: 10;
  -fx-opacity: 0.66;
  -fx-text-fill: #fafafa;
}
.button:hover {
  -fx-background-color: #9fc6d6;
  -fx-background-radius: 10;
}
.button:pressed {
  -fx-background-color: #982649;
  -fx-background-radius: 10;
}
.primaryColor {
  -fx-background-color: #60B2E5;
  -fx-text-fill: #fafafa;
}
